<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Debate
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/`>
	<head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/index">Debate</a>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/user_profile">Profile</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/index">Feed</a>
		      </li>
		    </ul>
		     <a class="nav-link" href="/debate/login">Login</a>
		     <a class="nav-link" href="/debate/register">Register</a>
		  </div>
		</nav>
		{% block body_block %}	

		{% endblock %}
	</body>	
</html>