{% extends 'index/base.html' %}

{% block body_block %}

<!--
<div class="dropdown-menu">
	<div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/debate/politics">Politics</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/debate/technology">Technology</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/debate/privacy">Privacy</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="/debate/global_warming">Global Warming</a>
</div>

-->
<div class="container">
<div class="jumbotron">
	<h1>Welcome to debate</h1>
	<h3>Discuss Topics With People on Internet :)</h3>
</div>
<h1>Topics-</h1>
	<a href="/debate/science" class='topic'>
		Science
	</a>
  <a href="/debate/politics" class='topic'>
    Politics
  </a>
  <a href="/debate/sports" class='topic'>
    Sports
  </a>
  <a href="/debate/animal" class='topic'>
    Animal's Endangerment
  </a>
</div>
{% endblock %}